# Introduction 

The plant Growth dataset.

In [17]:
import numpy as np 
import pandas as pd

In [18]:
df = pd.read_csv('PlantGrowth.csv')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   rownames  30 non-null     int64
 1   weight    30 non-null     float64
 2   group     30 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 852.0+ bytes

In [20]:
df.dtypes

rownames      int64
weight      float64
group        object
dtype: object

In [21]:
df.isnull()

    rownames  weight  group
0      False   False  False
1      False   False  False
2      False   False  False
3      False   False  False
4      False   False  False
5      False   False  False
6      False   False  False
7      False   False  False
8      False   False  False
9      False   False  False
10     False   False  False
11     False   False  False
12     False   False  False
13     False   False  False
14     False   False  False
15     False   False  False
16     False   False  False
17     False   False  False
18     False   False  False
19     False   False  False
20     False   False  False
21     False   False  False
22     False   False  False
23     False   False  False
24     False   False  False
25     False   False  False
26     False   False  False
27     False   False  False
28     False   False  False
29     False   False  False

# Breakdown of data set 

As we can see from the above lines of code, The dataset is composed of two columns 
1.  weight this dtype is float 64 
as we know the ints and floats are both numbers the main difference been an int is a number type without any decimal places and tend to be smaller numbers, floats deal represent numbers that include decimals and deal with larger numbers. 
2. group this dtype is an object which will make it a variable. 

looking at the above dataset we can see there is no nulls in this dataset.

In [23]:
df.head()

   rownames  weight group
0         1    4.17  ctrl
1         2    5.58  ctrl
2         3    5.18  ctrl
3         4    6.11  ctrl
4         5    4.50  ctrl

# T tests 

In this project one of the areas we will be looking at is t tests. A t test is a method used to find the difference in the means between two groups and how these groups are related. for example if we wanted to look at the number of smoker and non smokers in a givng group we could use a t test to compare these. The outcome of these tests is known as the T value.

There are some assumptions that are made in T tests these assumptions are as follows.