# lady testing tea

In [12]:
import math

In [13]:
no_cups = 8 
no_cups_milk_first = 4 
no_cups_tea_first = 4

In [14]:
ways = math.comb(no_cups, no_cups_milk_first)
ways

70

In [15]:
ways_ordered = 8 * 7 * 6 * 5 

ways_ordered

1680

In [16]:
no_shuffles = 4 * 3 * 2 * 1 
no_shuffles

24

In [17]:
no_combs = ways_ordered // no_shuffles
no_combs

70

-------------------------------------

In [18]:
import numpy as np 
from scipy.stats import fisher_exact

In [19]:
cups_total = 8 
cups_milk_first = 4 
cups_tea_first = 4

In [20]:
np.random.seed(42)
actual_cups = np.array([1]*cups_milk_first + [0]*cups_tea_first)
np.random.shuffle(actual_cups)

In [21]:
lady_guesses = np.array([1]*cups_milk_first + [0]*cups_tea_first)

# Now we will count her correct guesses:
# Number of true positives (correct milk first identification) and false positives
true_positives = np.sum((actual_cups == 1) & (lady_guesses == 1))
false_positives = np.sum((actual_cups == 0) & (lady_guesses == 1))

# Create the contingency table
# Table of the format [[True Positives, False Positives], [False Negatives, True Negatives]]
contingency_table = np.array([[true_positives, false_positives], 
                              [cups_milk_first - true_positives, cups_tea_first - false_positives]])

In [22]:
oddsratio, p_value = fisher_exact(contingency_table, alternative='greater')

contingency_table, p_value

(array([[2, 2],
        [2, 2]]),
 0.7571428571428571)

----------------------------------------------------------------------------

In [23]:
import numpy as np
# A numpy random number generator
rng = np.random.default_rng()

import pandas as pd
# Safe setting for Pandas.  Needs Pandas version >= 1.5.
pd.set_option('mode.copy_on_write', True)

# Load the library for plotting, name it 'plt'
import matplotlib.pyplot as plt
# Make plots look a little more fancy
plt.style.use('fivethirtyeight')

In [24]:
# Just run the code in this cell.
# Make an empty DataFrame to store the eight cups.
tea_df = pd.DataFrame()
# insert a column that records whether Fisher had in fact poured the milk
# before the tea, into that cup:
tea_df['milk_first'] = np.repeat(['yes', 'no'], [4, 4])
# Add a column recording which cups Muriel chose as her guesses for the
# cups where Fisher had poured the milk first:
tea_df['says_milk_first'] = np.repeat(['yes', 'no'], [4, 4])
# Take a sample (without replacement) of 8 rows.
# This has the effect of putting rows in random order.
tea_df = tea_df.sample(8, replace=False)
# Reset the row labels to throw away the labels showing the original order.
tea_df = tea_df.reset_index(drop=True)

In [25]:
# Show our reconstruction of Fisher's table
tea_df

  milk_first says_milk_first
0        yes             yes
1         no              no
2        yes             yes
3         no              no
4         no              no
5        yes             yes
6        yes             yes
7         no              no

In [26]:
milk_first = tea_df['milk_first']
says_milk_first = tea_df['says_milk_first']
says_milk_first

0    yes
1     no
2    yes
3     no
4     no
5    yes
6    yes
7     no
Name: says_milk_first, dtype: object

In [27]:
counts_tab = pd.crosstab(milk_first, says_milk_first)
counts_tab

says_milk_first  no  yes
milk_first
no                4    0
yes               0    4

In [28]:
milk_first_correct = counts_tab.loc['yes', 'yes']
milk_first_correct

4